<%= stylesheet_link_tag '/plugin_assets/redmine_risk_management/stylesheets/sprint_management.css' %>
<%= stylesheet_link_tag 'plugins/redmine_risk_management/stylesheets/sprint_management.css' %>

<div class="sprint-form-container">  <!-- Dodajemy kontener dla sprintu -->
  <h1><%= @sprint.name %></h1>
  <p><strong>Start Date:</strong> <%= @sprint.start_date.strftime("%B %d, %Y") %></p>
  <p><strong>Due Date:</strong> <%= @sprint.due_date.strftime("%B %d, %Y") %></p>

  <h2>Backlog sprintu</h2>
  
  <% if @sprint.projects.any? %>  <!-- Sprawdzenie, czy sprint ma przypisane projekty -->
    <ul>
      <% @sprint.projects.each do |project| %>  <!-- Iteracja po projektach przypisanych do sprintu -->
        <li>
          <%= project.name %> <!-- Wyświetlanie nazwy projektu -->
          (<%= link_to 'Edit', edit_project_path(project) %>) <!-- Link do edytowania projektu -->
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No projects assigned to this sprint.</p>  <!-- Komunikat, jeśli brak projektów -->
  <% end %>

  <%= link_to 'Edytuj Sprint', edit_sprint_path(@sprint) %> |
  <%= link_to 'Powrót do tabeli Sprint', sprints_path %>
</div> <!-- Zakończenie kontenera -->
