<h2>Edytuj Ryzyko: <%= @risk.title %></h2>

<%= form_for [@project, @risk] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :likelihood %><br>
    <%= f.number_field :likelihood %>
  </p>
  <p>
    <%= f.label :impact %><br>
    <%= f.number_field :impact %>
  </p>
  <p>
    <%= f.label :assignee_id, "Osoba odpowiedzialna" %><br>
    <%= f.collection_select :assignee_id, User.all, :id, :name, include_blank: true %>
  </p>
  <p>
    <%= f.label :category, "Kategoria" %><br>
    <%= f.select :category, Risk::CATEGORIES, include_blank: true %>
  </p>
  <p>
    <%= f.label :status, "Status" %><br>
    <%= f.select :status, Risk::STATUSES %>
  </p>
  <p>
    <%= f.label :response, "Reakcja" %><br>
    <%= f.select :response, Risk::RESPONSES %>
  </p>
  <p><%= f.submit 'Zaktualizuj Ryzyko' %></p>
<% end %>
