<%= stylesheet_link_tag 'risk_management', plugin: 'redmine_risk_management' %>
<div class="risk-details">
  <h1><%= @risk.title %></h1>
  <p><strong>Description:</strong> <%= @risk.description %></p>
  <p><strong>Likelihood:</strong> <%= @risk.likelihood %></p>
  <p><strong>Impact:</strong> <%= @risk.impact %></p>
  <p><strong>Osoba odpowiedzialna:</strong> <%= @risk.assignee&.name || "Brak przypisanej osoby" %></p>
  <p><strong>Kategoria:</strong> <%= @risk.category %></p>
  <p><strong>Status:</strong> <%= @risk.status %></p>
  <p><strong>Reakcja:</strong> <%= @risk.response %></p>
  <%= link_to 'Edytuj Ryzyko', edit_project_risk_path(@project, @risk), class: 'edit-link' %>
</div>

<div class="spike-tasks">
  <h2>Spike Tasks</h2>
  <% if @risk.spike_tasks.any? %>
    <ul>
      <% @risk.spike_tasks.each do |task| %>
        <li>
          <strong><%= link_to task.name, project_risk_spike_task_path(@risk.project, @risk, task) %></strong>: <%= task.status %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nie znaleziono spike tasków dla tego ryzyka.</p>
  <% end %>
</div>

<div class="new-spike-task-form">
  <h3>Dodaj nowy Spike Task</h3>
  <%= form_for [@project, @risk, SpikeTask.new] do |f| %>
    <p>
      <%= f.label :name, 'Nazwa' %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, 'Opis' %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :status, 'Status' %><br>
      <%= f.select :status, SpikeTask::STATUSES %>
    </p>
    <p>
      <%= f.submit 'Dodaj Spike Task' %>
    </p>
  <% end %>
</div>
